.wrapper {
  border: 1px solid #6d6b6b;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.text {
  flex-grow: 1;
  padding: 0 10px 0 10px;
}

.completeButton {
  background: #19e23b url(./images/agree.png) center no-repeat;
  background-size: cover;
}
.deleteButton {
  background: #19e23b url(./images/remove.png) center no-repeat;
  background-size: cover;
}

.completed {
  text-decoration: line-through;
}
